body {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 0;
}

#me{
    margin:20px;
}

h1{
    font-family: 'Courier New', Courier, monospace;

}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    p {
        font-size: 16px;
    }
}